.poster{
    .poster__container{
        display: flex;
        flex-direction: column;

    
        .poster__container__header{
            display:  flex;
            align-items: flex-start;
            h1{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                
            }
        }
        .search_side{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            .search_side__input{
                width: 40%;
                margin-right: 1rem;
            }
        }
        .poster__container__btn{
            display: flex;
            flex-direction: row;
        }
    }

}

.ant-input-clear-icon{
    display:  flex;
}

