.chapter{
    width: 100%;
    .chapter__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .chapter__container__header{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            
            border: 1px solid  #797979;
            border-radius: 10px;
            h2{
                margin: 1em 1em;
                font-size: 17px;
                font-family: "Jost", sans-serif;
                font-weight: 600;
            }
            .chapter__arrow__icon{
                font-size: 1em;
                font-family: 600;
                margin: 0.5em 1em;
                border: 1px solid #797979 ;
                padding: 1em;
                border-radius: 10px;
               
            }
        }
        .chapter__visible{
            border: 1px solid   rgb(0, 72, 173);
            .chapter__arrow__icon{
                border: 1px solid   rgb(0, 72, 173, 0.95);
                transform: rotate(-90deg);
                color: rgb(0, 72, 173, 0.95);
            }
        }
        .chapter__container__content {
            
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, transform-origin 0.3s ease-in-out,  max-height 0.3s ease-in-out;
            transform: scaleY(0);
            transform-origin: top; /* Set the initial transform-origin to top */
            max-height: 0;
            p {
                color: #797979;
                font-size: 15px;
                font-family: "Jost", sans-serif;
            }
        
            &.visible {
                max-height: 1000px;
                transform: scaleY(1);
                transform-origin: top; /* Set the final transform-origin to top */
                opacity: 1;
            }
        
            &.hidden {
                max-height: 0;
                transform: scaleY(0);
                transform-origin: top; /* Set the transform-origin to top when hidden */
                opacity: 0;
            }
        }
    }
}