.contact {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .contact .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact .leftSide .contact__left__map{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px  0;
  }
  
  .contact .rightSide {
    padding: 1em;
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact .rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
   
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding: 30px;
  }
  
  form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }
  
  form textarea {
    margin-top: 15px;
    height: 70px;
    width: 80%;
    border: none;
    border: 1px solid grey;
    border-radius: 5px;
    
  }
  input::placeholder,
  textarea::placeholder {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form label {
    color: black;
  }
  
  form button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
  }
  

  @media screen and (max-width: 768px) {

    .contact{
      flex-direction: column;
      height: 100%;
    }
  }