.navbar {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1em 5em;
  position: relative;
  .navbar__menu {
    display: none;
    .navbar__menu__icon {
      font-size: 2rem;
      z-index: -3;
    }
  }
  .navbar__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    height: 100%;
    .navbar__logo {
      height: 100%;
      cursor: pointer;
    }
  }
  .navbar__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    a {
      position: relative;
      text-decoration: none;
      color: #000;
      text-align: center;
      font-size: 1.3em;
      font-family: "Jost", sans-serif;
      font-weight: 400;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #000000a6;
        &::before {
          width: 100%;
        }
      }
 
      &::before {
        position: absolute;
        content: ""; 
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 10px;
        bottom: 0;
        width: 0%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}


.visible{
  transform: scale(1) !important;
}

@media screen and (max-width: 700px) {
  .navbar__menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .navbar__right {
    z-index: 999;
    padding: 1em;
    position: absolute;
    top: 100px;
    
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 40%;
    .btn{
      width: 100%;
      margin: 0.5em 0;
    }
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    border-radius:  0 0 10px 10px;
  }
}

