.card {
    width: 400px;
    height: 550px;
    align-items: center;
    background-color: #fcfcfc;
    overflow: hidden;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover {
        .card__header img {
            transform: scale(1.1);
        }
        box-shadow: 1px 1px 51px -13px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 51px -13px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 51px -13px rgba(0, 0, 0, 0.75);
    }
    .card__header {
        height: 30%;
        width: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
            border-radius: 10px 10px 0 0;
        }
    }
    .card__body {
        height: 40%;
        width: 90%;
        padding: 1em;
        h2 {
            max-height: 15%;
            margin: 0 0 18px 0;
            font-family: "Bebas Neue", cursive;
            font-size: 1.3rem;
            letter-spacing: 0.06em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            &:hover {
                overflow: visible;
                white-space: normal;
            }
        }
        p {
            max-height: 85%;
            margin-bottom: 0.6em;
            align-self: flex-start;
            font-size: 0.8rem;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(90, 90, 90);
            overflow: hidden;
        }
       
    }

    .card__footer {
        width: 100%;
        display: flex;
        flex-direction: column;

        .card__footer__info {
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                color: rgb(90, 90, 90);
                font-size: 0.9rem;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .card__btns{
            display: flex;
            align-items: center;
            justify-content: space-around;
            
            .btn__enroll {
                width: 40%;
                height: 35px;
                border-radius: 5px;
                border: none;
                color: #fff;
                background-color: #1677ff;
                box-shadow: 27px 36px 30px -36px rgba(0, 0, 0, 0.75);
                font-size: 0.9rem;
                cursor: pointer;
    
                transition: background-color 0.2s ease-in-out;
                &:hover {
                    background-color: #0d6efd;
                }
                &:active{
                    background-color: #0d6efd;
                }
            }
        }
    }
}
