.loader{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.512);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    pointer-events: none; 
  }

  .fade-in {
    animation: fade-in 0.5s forwards;
    pointer-events: auto; 
}
@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}